  body {
    width: 1600px;
    margin: auto;
    height: 950px;
  }

  header {
    width: 1600px;
    height: 70px;
    background-color: black;
    opacity: 0.7;
    margin-bottom: -100px;
    position: absolute;
    z-index: 5;
    position: fixed;
    top: 0;
  }

  header>nav>div:first-child {
    color: #FFFF00;
    font-size: 40px;
    padding-top: 13px;
    padding-left: 60px;
    font-family: "微软雅黑";
    font-weight: bolder;
  }

  header>nav>div:nth-of-type(2) {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 500px;
  }

  header>nav>div:nth-of-type(3) {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 60px;
  }

  header>nav>div:nth-of-type(4) {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 60px;
  }

  header>nav>div:nth-of-type(5) {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 60px;
  }

  header>nav>div:nth-of-type(6) {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    margin-left: 60px;
  }

  aside {
    width: 873px;
    height: 950px;
    background-image: url(img/5-13050G32051.jpg);
    float: left;
  }

  aside>div:first-child {
    font-size: 80px;
    width: 80px;
    color: white;
    margin-top: 200px;
    margin-left: 700px;
    font-family: "微软雅黑";
  }

  aside>div:nth-of-type(2) {
    color: white;
    font-size: 20px;
    width: 20px;
    text-align: center;
    font-family: "楷书";
    margin-left: 660px;
    margin-top: -70px;
  }

  aside>div:nth-of-type(3) {
    color: white;
    font-size: 15px;
    width: 500px;
    line-height: 30px;
    text-indent: 70px;
    font-weight: bold;
    margin-top: -300px;
    margin-left: 50px;
  }

  aside>div:nth-of-type(4) {
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: "微软雅黑";
  }

  aside>div:nth-of-type(5) {
    color: white;
    font-size: 25px;
    margin-left: 50px;
    font-family: "微软雅黑";
  }

  aside>img {
    padding: 10px 10px 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: 0.5s;
    margin-top: -800px;
    margin-bottom: 250px;
    margin-left: 100px;
  }

  section {
    width: 727px;
    height: 950px;
    float: left;
  }

  header>nav>div {
    float: left;
  }

  ul {
    width: 2908px;
  }

  li {
    float: left;
  }

  footer {
    width: 1600px;
    height: 70px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 5;
    margin-top: 880px;
  }

  footer>div {
    color: yellow;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 1250px;
    font-family: "微软雅黑";
    font-weight: bolder;
  }

  a:hover {
    background-color: yellow;
    color: #000000;
  }

  a {
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: white;
  }

  .box {
    width: 727px;
    height: 950px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  .list {
    margin-top: 0px;
    padding: 0px;
    position: absolute;
  }

  .list {
    -moz-animation: slide 20s infinite;
    -webkit-animation: slide 20s infinite;
  }

  .slide {
    vertical-align: bottom;
  }

  @-moz-keyframes slide {
    from, to {
      left: 0;
    }
    12.5% {
      left: 0;
    }
    25% {
      left: -727px;
    }
    37.5% {
      left: -727px;
    }
    50% {
      left: -1454px;
    }
    62.5% {
      left: -1454px;
    }
    75% {
      left: -2181px;
    }
    87.5% {
      left: -2181px;
    }
  }

  @-webkit-keyframes slide {
    from, to {
      left: 0;
    }
    12.5% {
      left: 0;
    }
    25% {
      left: -727px;
    }
    37.5% {
      left: -727px;
    }
    50% {
      left: -1454px;
    }
    62.5% {
      left: -1454px;
    }
    75% {
      left: -2181px;
    }
    87.5% {
      left: -2181px;
    }
  }

  @-moz-keyframes index_1 {
    from, 25%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    0% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-moz-keyframes index_2 {
    from, 50%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    25% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-moz-keyframes index_3 {
    from, 75%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    50% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-moz-keyframes index_4 {
    from, 100%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    75% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-webkit-keyframes index_1 {
    from, 25%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    0% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-webkit-keyframes index_2 {
    from, 50%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    25% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-webkit-keyframes index_3 {
    from, 75%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    50% {
      background-color: rgba(255, 0, 0, .5);
    }
  }

  @-webkit-keyframes index_4 {
    from, 100%, to {
      background-color: rgba(0, 0, 0, .5);
    }
    75% {
      background-color: rgba(255, 0, 0, .5);
    }
  }
